aioredis==1.3.1
alabaster==0.7.12
alembic==1.5.8
amqp==2.6.1
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.5.1
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
autopep8==1.5.5
Babel==2.9.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
billiard==3.6.3.0
binary==1.0.0
black==20.8b1
blinker==1.4
Brlapi==0.7.0
celery==4.4.6
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
click==7.1.2
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
coverage==5.3.1
crypto==1.4.1
cryptography==3.4.7
cupshelpers==1.0
daphne==3.0.1
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==3.1.7
django-allauth==0.44.0
django-celery-beat==2.1.0
django-ckeditor==5.7.1
django-cors-headers==3.6.0
django-coverage-plugin==1.8.0
django-crispy-forms==1.10.0
django-debug-toolbar==3.2
django-environ==0.4.5
django-extensions==3.1.0
django-filter==2.2.0
django-import-export==1.2.0
django-js-asset==1.2.2
django-model-utils==4.1.1
django-redis==4.12.1
django-rest-auth==0.9.5
django-social-share==2.2.1
django-storages==1.9.1
django-stubs==1.7.0
django-timezone-field==4.0
djangorestframework==3.12.2
dnspython==2.1.0
docutils==0.16
email-validator==1.1.2
entrypoints==0.3
et-xmlfile==1.0.1
factory-boy==3.1.0
Faker==6.6.0
filelock==3.0.12
flake8==3.8.4
flake8-isort==4.0.0
Flask==1.0.2
Flask-BabelEx==0.9.4
Flask-Compress==1.4.0
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==3.4.5
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
freeze==3.0
future==0.18.2
greenlet==1.0.0
grpcio==1.16.1
hiredis==1.1.0
httplib2==0.14.0
hyperlink==21.0.0
identify==2.1.1
idna==2.10
ifaddr==0.1.6
imagesize==1.2.0
IMDbPY==6.8
importlib-metadata==1.5.0
incremental==21.3.0
iniconfig==1.1.1
ipdb==0.13.4
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jsonfield==3.1.0
keyring==18.0.1
kombu==4.6.11
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.5.2
ldap3==2.9
livereload==2.6.3
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupPy==1.14
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==4.2.0
msgpack==1.0.2
mypy==0.790
mypy-extensions==0.4.3
Naked==0.1.31
nemo-emblems==4.8.1
netifaces==0.10.4
nodeenv==1.5.0
nose==1.3.7
numpy==1.20.1
oauthlib==3.1.0
odfpy==1.4.1
onboard==1.4.1
openpyxl==3.0.7
packaging==20.3
PAM==0.4.2
pandas==0.25.3
paramiko==2.7.2
parso==0.8.1
passlib==1.7.2
pathspec==0.8.1
pexpect==4.6.0
pgadmin4 @ https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v4.30/pip/pgadmin4-4.30-py3-none-any.whl
pickleshare==0.7.5
Pillow==8.1.2
pluggy==0.13.1
pre-commit==2.9.3
prompt-toolkit==3.0.16
protobuf==3.6.1
psutil==5.8.0
psycopg2-binary==2.8.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyflakes==2.2.0
Pygments==2.8.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==2.1.0
pylint==2.7.2
pylint-celery==0.3
pylint-django==2.4.2
pylint-plugin-utils==0.6
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.6
pyparted==3.11.2
pyRFC3339==1.1
pytest==6.2.1
pytest-django==4.1.0
pytest-sugar==0.9.4
python-apt==2.0.0+ubuntu0.20.4.4
python-crontab==2.5.1
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-editor==1.0.4
python-slugify==4.0.1
python-xapp==2.0.2
python-xlib==0.23
python3-openid==3.2.0
pytz==2021.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.4.1
redis==3.5.3
regex==2020.11.13
reportlab==3.5.34
requests==2.25.1
requests-file==1.4.3
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
service-identity==18.1.0
setproctitle==1.1.10
shellescape==3.8.1
simplejson==3.16.0
six==1.14.0
snap==0.5
snowballstemmer==2.1.0
soupsieve==1.9.5
speaklater==1.3
Sphinx==3.4.3
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.4.3
sqlparse==0.4.1
sshtunnel==0.4.0
systemd-python==234
tablib==3.0.0
termcolor==1.1.0
testfixtures==6.17.1
text-unidecode==1.3
tinycss2==1.0.2
tldextract==2.2.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
txaio==21.2.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
urllib3==1.26.3
vine==1.3.0
virtualenv==20.0.17
wadllib==1.3.3
watchgod==0.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
WTForms==2.2.1
xkit==0.0.0
xlrd==2.0.1
xlwt==1.3.0
youtube-dl==2020.3.24
zeroconf==0.24.4
zipp==1.0.0
zope.interface==5.3.0
